.heading {
	width: 100%;
	text-align: center;
	margin: 20px 5px;
	opacity: 0.85;
}

#main-layout {
	width: 100%; /* mobiles, o/w 750px */
	padding: 10px 0px;
	margin: 0 auto;
	border: 1px solid rgba(200,200,200, 0.9);
}

#paint {
	padding-top: 10px;
	overflow: hidden;
}


#sketch {
	border: 2px solid gray;
	float: left;
	width: 95%;
	height: 340px;
	margin: 0px 10px;
	position: relative; /* for the absolute layout of tmp_canvas */
}

@media (min-width: 767px) { /* Non mobiles */
	
	#main-layout {
		width: 750px;
	}

	#paint {
		margin-top: 10px;
		border-top: 1px solid #e5e5e5;
	}

	#sketch {
		width: 588px;
	}
}

.btn-group .btn + .btn  {
	margin-left: 0px; /* overwrite bootstrap -1px */
}

.btn-group .btn {
	border-radius: 0px !important; 
}

#tmp_canvas {
	position: absolute;
	left: 0px; 
	top: 0px;
	cursor: crosshair;
}

#tools-panel {
	padding: 2px 10px;
	border-radius: 4px;
	border: 1px solid #e5e5e5;;
	margin-bottom: 10px;
}

#tools-panel .btn-group {
	margin: 0 auto;
	display: block;
	background-color: #fafafa;
	overflow: auto;
	padding: 2px 4px;
}


#choose-size {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
}

#clear-btn {
	display: none;
	margin-left: 15px;
}

#clear-btn-mobile {
	display: inline-block;
	margin-left: 20px;
}

#clear-btn .btn {
	background-color: white !important;
	border: 1px solid rgba(200,200,200,0.7);
}

#clear-btn-mobile .btn {
	background-color: white !important;
	border: 1px solid rgba(200,200,200,0.7);
}

#choose-size .title {
	font-weight: bold;
	color: rgba(100,100,100, 0.8);
	font-style: italic;
	font-size: 13px;
	margin-right: 5px;
	margin-left: 10px;
	text-align: center;
	display: inline-block; /* mobile */

}

#choose-size .radio-group {
	display: inline-block; /* mobile */
	width: 30px;
	margin: 0 auto;
}

@media (min-width: 768px) { /* Non Mobiles */
	#clear-btn {
		display: inline-block;
	}

	#clear-btn-mobile {
		display: none;
	}

	#tools-panel {
		float: left;
		border: 0px;
	}

	#tools-panel .btn-group {
		width: 90px;
	}

	#choose-size {
		width: 90px;
		margin-top: 20px;
	}

	#choose-size .title {
		display: block;
		margin-bottom: 5px;	
		margin-left: 0px;
	}

	#choose-size .radio-group {
		display: block;
	}


}




#tools-panel .btn-group .btn{
	background-color: #fafafa;
}


#color-panel {
	margin-left: 20px;
	display: inline-block;
}

@media (max-width: 767px) {
	#color-panel {
		max-width: 210px;
	}
}


#color-panel .btn {
	width: 30px;
	height: 25px;
	border: 1px solid rgba(200,200,200,0.8);
}


#paint-undo-redo {
	display: inline-block;
	margin-left: 30px;
}

#paint-clear {
	margin-left: 30px;
	
}

#text_tool {
    position: absolute;
    border: 1px dashed black;
    outline: 0;
    display: none;
    
    padding: 4px 8px; 
    font: 14px;
    overflow: hidden;
    white-space: nowrap;
    background-color: transparent;
}