<div id="main-layout">

  <div id="color-panel">
	<div class="btn-group">
		
		<button class="btn" type="button" ng-click="setColor('red')" title="Red" style="background-color:red">
		</button>
		<button class="btn" type="button" ng-click="setColor('lime')" title="Green" style="background-color:lime">	
		</button>          
		<button class="btn" type="button" ng-click="setColor('blue')" title="Blue" style="background-color:blue">	
		</button>          
		<button class="btn" type="button" title="Yellow"  ng-click="setColor('yellow')" style="background-color:yellow">	
		</button>          
		<button class="btn" type="button"  ng-click="setColor('magenta')" title="Magenta" style="background-color:magenta">	
		</button>          
		<button class="btn" type="button"  ng-click="setColor('cyan')" title="Cyan" style="background-color:cyan">	
		</button>          
		<button class="btn" type="button" title="Orange"  ng-click="setColor('orange')" style="background-color:orange">	
		</button>          
		<button class="btn" type="button"  ng-click="setColor('purple')" title="Purple" style="background-color:purple">	
		</button>          
		         
		<button class="btn" type="button" title="Brown" ng-click="setColor('brown')"  style="background-color:brown">	
		</button>          
		<button class="btn" type="button" title="Black"  ng-click="setColor('black')" style="background-color:black">	
		</button>     
		<button class="btn" type="button" title="Gray"  ng-click="setColor('gray')" style="background-color:gray">	
		</button>     
		<button class="btn" type="button" title="lavender"  ng-click="setColor('lavender')" style="background-color:lavender">	
        </button>
		<button class="btn" type="button" ng-click="setColor('white')" title="White" style="background-color:white">
		</button>
		  
  	</div>

  </div>	

  <div id="paint-undo-redo">
  	<div class="btn-group">
  		<button id="undo-tool" class="btn" type="button" title="Undo">	
  			<div class="fa fa-undo"></div>
		</button>          
		<button id="redo-tool" class="btn" type="button" title="Redo">	
  			<div class="fa fa-repeat"></div>
		</button>          
  	</div>
  </div>

  <button id="paint-clear" type="button" class="btn btn-default">Clear</button>

</div>

